
/*************************/
/*************************/

.colorsettings > div
{
    display:            flex;
}
.colorsettings label
{
    margin-left:        auto;
}

input.ColorInput
{
    /*
    border:             1px solid;
    border-color:       inherit;
    border-radius:      5px;
    */
    border:             0px none;
    border-radius:      20px;
    box-shadow:         0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2) inset;
    background-color:   rgba(0, 0, 0, 0.2);

    width:              100px;
    text-align:         center;

    font-family:        "SourceSansPro" !important;
}




/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

