
div.detachable
{
    box-sizing:     border-box;
    display:        flex;
    align-self:     center;
    border-color:   #A0A010;
}
div.detachable[data-detached="true"]
{
    right:          1%;
    top:            1%;
    max-width:      35%;
    position:       fixed;
    z-index:        10;
    border:         1px solid;
    box-shadow:     0px 0px 10px 5px #080809;
}
div.detachable[data-detached="false"]
{
    z-index:        auto;
    border:         none;
}


.detachable_content[data-detached="false"]
{
    width:          100vw;
    height:         100vh;
}


#detachable_trigger
{
    border-color: #fff;
    height:         50%;
}

/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */
