
.flex-column
{
    display:        flex;
    flex-direction: column;
}

.flex-row
{
    display:        flex;
    flex-direction: row;
}

/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

