
div.slidebar
{
    position:           relative;
    display:            block;
    background-color:   var(--hlcolor);
    height:             0.2rem;
    width:              100%;
    margin:             auto 0.5rem;
    border-radius:      0.1rem;
}

div.slidebar > div
{
    position:           absolute;
    display:            inline-block;
    background-color:   var(--hlcolor);
    /*
    height:             1.0em;
    width:              0.5em;
    top:                0.1em;
    */
}


/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 *
