
div.timeselect
{
    display:        flex;
    width:          100%;
    justify-content:  space-between;
    align-items:    center;
}

.timeselect > label
{
    white-space:    nowrap;
    margin:         0;
}

.timeselect > input
{
    margin:         0 1em;
    width:          5ch;
}

.timeselect > .icon
{
    display:        inline-block;
    flex-shrink:    0;
    margin:         0 0.3em;
}

.timeselect > .slidebar
{
    margin-left:    2em;
    margin-right:   2em;
}


/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */
