
/******************/
/* Base settings  */
/******************/

body
{
    height:         100vh;
    margin:         0 auto;
    overflow:       hidden;
    font-family:    SourceSansPro, DejaVuSans;
    font-size:      12pt;
    cursor:         default;

    background-image: url(../img/Noise10.png);
    background-repeat: repeat;
}
@media only screen and (min-width: 3000px)
{
    body
    {
        font-size:      16pt;
    }
}

input
{
    font-family:    SourceSansPro, DejaVuSans;
}

[draggable] 
{
    cursor:         move;
}

/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

