
@font-face 
{
    font-family:    "DejaVuSans";
    src:            url("../fonts/DejaVuSans.ttf") format("truetype");
    font-weight:    normal;
    font-style:     normal;
}

@font-face
{
    font-family:    "SourceSansPro";
    src:            url("../fonts/SourceSansPro-Regular.otf.woff") format("woff");
    font-weight:    normal;
    font-style:     normal;
}

@font-face 
{
    font-family:    "SourceSerifPro";
    src:            url("../fonts/SourceSerifPro-Regular.otf.woff") format("woff");
    font-weight:    normal;
    font-style:     normal;
}

/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

