div.MainView
{
    width:              100%;
    height:             100%;
    display:            flex;
    flex-direction:     column;
    align-content:      space-around;
    justify-content:    space-around;
}
div.MainViewRow
{
    display:            flex;
    align-content:      space-around;
    justify-content:    space-around;
    flex-direction:     row;
    flex-wrap:          wrap;
}
div.MainViewColumn
{
    display:            flex;
    align-content:      space-around;
    justify-content:    space-around;
    flex-direction:     column;
    flex-wrap:          wrap;
}
/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

