

div#ArtistViewBox
{
    animation:      fadein              1s;
}

div#AlbumViewBox
{
    animation:      fadein              1s;
}

div#QMainBox
{
    animation:      fadein              1s;
}

div#SRMainBox
{
    animation:      fadein              1s;
}

div#MusicDBHUD
{
    animation:      fadein              1s;
}

div#MDBSResultPopup, div#MDBSResultView
{
    animation:      fadein              1s;
}

div#ABVSettings, div.ABV_songsettings
{
    animation:      fadein            1s;
}


div.hovpacity
{
    transition:     opacity             500ms;
}

.ST_tile .ST_buttonbox
{
    transition:     opacity             500ms;
}


.bgcolor
{
    transition:     background-color    1s;
}
.fgcolor, .hlcolor
{
    transition:     color               1s;
}
.fmcolor
{
    transition:     border-color        1s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

