
div.screen
{
    box-sizing:     border-box;
    border-color:   #3030A0;
    display:        flex;
    flex-direction: column;
    height:         100%;
    width:          100%;
    overflow:       scroll;
    scrollbar-width: none;
}

div.panels
{
    box-sizing:     border-box;
    display:        flex;
    flex-direction: column;
    width:          100%;
}
div.panels[data-panels="1"]
{
    height:         100vh;
}
div.panels[data-panels="2"]
{
    height:         200vh;
}


div.panel
{
    border-color:   #10A010;
    box-sizing:     border-box;
    height:         100vh;
    width:          100vw;
}
div.panel[data-visible="true"]
{
    display:        flex;
}
div.panel[data-visible="false"]
{
    display:        none;
}

/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

