
/******************/
/* Main Container */
/******************/

#AlphabetBar
{
    display:            flex;
    flex-direction:     row;
    justify-content:    center;
    width:              100%;
}

#AlphabetBar > .button
{
    min-width:          1.7ch;
    text-align:         center;
    margin-bottom:      0.1em;
}



/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

