
/******************/
/* Main Container */
/******************/

.artistsview
{
    flex-wrap:          wrap;
    padding:            0.5em;
    margin-bottom:      auto;
}

.artistsview img
{
    filter: brightness(70%) saturate(70%);
    transition: 4s;
}
.artistsview:hover img
{
    filter: brightness(100%) saturate(100%);
    transition: 2s;
}

.artistentry
{
    display:            flex;
    flex-direction:     row;
    flex-wrap:          wrap;
}
.artistentry > span
{
    flex-basis:         100%;
    margin-left:        0.8em;
    margin-right:      -0.8em;
    width:              0;      /* To align to album entries */
    overflow:           hidden;
}
.artistentry > div
{
    margin:             0 0.3em;
    margin-bottom:      0.8em;
}



/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

