# systemd unit file for MusicDB

[Unit]
Description=MusicDB WebSocket Server
After=network.target

[Service]
ExecStart=/usr/bin/musicdb server
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=notify
User=musicdb
Group=musicdb
ProtectSystem=full

[Install]
WantedBy=default.target

# vim: syntax=systemd nospell
