
/******************/
/* Album-related */
/******************/

div.AT_albumentry
{
    display:        inline-block;
    margin-left:    5px;
    margin-right:   5px;
}
div.AT_albumentry[data-size=medium] {
    max-width:      150px;
}
div.AT_albumentry[data-size=small] {
    max-width:      60px;
}

div.AT_albumcover
{
    border-radius:  5px;
    overflow:       hidden;
}
div.AT_albumcover[data-size=medium] {
    width:          150px;
    height:         150px;
}
div.AT_albumcover[data-size=small] {
    width:          60px;
    height:         60px;
}

/* on small screens use alwasy the small variant*/
@media only screen and (max-width: 1600px) 
{
    div.AT_albumentry[data-size=medium] {
        max-width:      120px;
    }
    div.AT_albumcover[data-size=medium] {
        width:          120px;
        height:         120px;
    }
}


div.AT_albumcover img
{
    width:          100%;
    height:         auto;
}

div.AT_albummetadata
{
    overflow:       hidden;
    white-space:    nowrap;
}

span.AT_albumname
{
    display:        inline-block;
    overflow:       hidden;
    white-space:    nowrap;
}
span.AT_albumrelease
{
    display:        inline-block;
    float:          right;
}




/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

