
/******************/
/* Main Container */
/******************/

div.ATAGSBox
{
    display:        block;
}

div.ATtagbutton
{
    display:        inline-block;
    min-width:      60px;
    padding:        2px;
    margin:         2px;
    text-align:     left;
}

div.ATtagbutton:before 
{
    font-family:    FontAwesome;
    font-weight:    normal;
    text-align:     right;

    display:        inline-block;
    padding-right:  3px;
    width:          9px;
}

div.ATtagbutton[data-checked=true]:before 
{
    color:   #084010;
    content: "\f00c";
}

div.ATtagbutton[data-checked=false]:before 
{
    color:   #611;
    content: "\f00d";
}

/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

