
/******************/
/* Meta Container */
/******************/

div#LyricsMetaBox
{
    display:        flex;
    flex-direction: column;
    align-content:  flex-start;
    margin:         10px;
}

div#LMBHeadline
{
    display:        flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom:  10px;
}
div#LMBBody
{
    display:        flex;
    flex-direction: row;
    justify-content: space-around;
}

div#LMBLyrics
{
    display:        flex;
    text-align:     center;
}
div#LMBManager
{
    display:        none;
}

.lyrics .refrain
{
    font-weight: bold;
}

/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

