
/******************/
/* Main Container */
/******************/

div.BTN_box
{
    display:        flex;
    align-items:    center;
    justify-content: space-between;
    padding-left:   5px;
    padding-right:  5px;
}

span.BTN_separator
{
    width:          5px;
}

span.BTN_button
{
    text-shadow:    1px 1px 1px #111;
}

span.BTN_lefttext
{
    margin-right:    5px;
}

/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

