
/******************/
/* Main Container */
/******************/

.artistsview
{
    flex-wrap:          wrap;
}

.artistentry
{
    display:            flex;
    flex-direction:     row;
    flex-wrap:          wrap;
}
.artistentry > span
{
    flex-basis:         100%;
}


div#ArtistViewBox
{
    display:        block;
    padding:        10px;
    vertical-align: top;    /* necessary to aligne marker at the top of a new artist */
}


/* hover effect */
div#ArtistViewBox
{
}
div#ArtistViewBox:hover
{
}


div#ArtistViewBox img
{
    filter: brightness(70%) saturate(70%);
    transition: 4s;
}
div#ArtistViewBox:hover img
{
    filter: brightness(100%) saturate(100%);
    transition: 2s;
}



div.ATV_mark
{
    margin: 0;
    padding: 0;
    display: inline;        /* inline, to be aligned top */
    /* must be visible otherwise the jump does not work */
}


/******************/
/* Artist-related */
/******************/

div.ATV_artistentry
{
    display:        inline-block;
}

span.ATV_artistname
{
    font-weight:    bold;
    overflow:       hidden;
    white-space:    nowrap;
    margin-left:    10px;
}

div.ATV_albumlist
{
}



/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

