
/******************/
/* Main Container */
/******************/

div#MPDControls
{
    display:        flex;
    height:         100%;
    width:          100%;
    align-items:    center;
    flex-direction: column;
}

div#MPDCMainFrame
{
    display:        flex;
    height:         100%;
    flex-direction: column;
    justify-content: space-around;
}

div.MPDC_button
{
    display:        flex;
    padding-right:  10px;
    padding-left:   10px;
    text-shadow:    1px 1px 1px #111;
    align-items:    center;
}

div.MPDC_button:before
{
    font-family:    FontAwesome;
    font-weight:    normal;
    text-align:     right;

    display:        inline-block;
    padding-right:  5px;
}

div#MPDCPauseButton:before
{
    content: "\f144";   /*fa-play-circle*/
}
div#MPDCNextButton:before
{

    content: "\f0a9";   /*fa-arrow-circle-right*/
}


/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

