
/******************/
/* Main Container */
/******************/

div#AlbumViewBox
{
    display:        block;
    overflow:       auto;
    width:          100%;
}

div#ABVMetaBox
{
    margin-top:     2%;
    margin-right:   2%;
    float:          right;
}


div#AlbumGenreBox
{
    margin-top:     20px;
    display:        flex;
    flex-direction: column;
    align-items:    flex-end;
}

div#AlbumSubgenreView_tags
{
    flex-direction: column;
}

/******************/
/* Artwork        */
/******************/

div#ABVArtworkBox img
{
    width:          500px;
    box-shadow:     0px 0px 10px 5px #080809;
    border-radius:  5px;
    overflow:       hidden;
}

@media only screen and (min-width: 3000px)
{
    div#ABVArtworkBox img
    {
        width:      800px;
    }
}
@media only screen and (max-width: 1920px)
{
    div#ABVArtworkBox img
    {
        width:      400px;
    }
}
@media only screen and (max-width: 1600px)
{
    div#ABVArtworkBox img
    {
        width:      300px;
    }
}




/******************/
/* Settings       */
/******************/

div#ABVSettingsBox
{
    /*
    float:          right;
    */
    text-align:     right;
    display:        block;
}

div#ABVSettingsButton
{
    display:        inline-block;
    margin-top:     5px;
    margin-bottom:  5px;
}

div#ABVSettings
{
    display:        none;
    flex-direction: column;
    padding-top:     10px;
    padding-left:    30px;
    padding-right:   30px;
}

span.ABVSettingName
{
    padding-right:  5px;
}

div.ABVColorSettingsBox
{
    padding:        5px;
}
div.ABVColorSettingsRow
{
    padding-top:    5px;
    /*
    display:        block;
    */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/******************/
/* Headline       */
/******************/

div#ABVHeadlineBox
{
    margin-top:     2%;
    margin-left:    5%;
    display:        block;
}


div#ABVMainHeadline
{
    display:        block;
}
div#ABVSubHeadline
{
    display:        block;
}
span#ABVSHLSeparator
{
    padding-left:   5px;
    padding-right:  5px;
}

div#ABVToolbar
{
    float:          right;
    display:        inline-block;
    margin-top:     2%;
    margin-right:   2%;
}

/******************/
/* CDs            */
/******************/

div.ABV_cd
{
    margin-top:     5px;
}

span.ABV_cdnum
{
}


/******************/
/* Songlist       */
/******************/


div#ABVSongs
{
    display:        block;
    width:          50%;
    margin-top:     25px;
    margin-left:    6%;
    margin-bottom:  25px;
}

div.ABV_songentry
{
    display:        flex;
    align-items:    center;
    justify-content: space-between;
    margin-top:     2px;
    padding-bottom: 1px;
}
div.ABV_songentry:hover 
{
    border-bottom:  dashed 1px;
    padding-bottom: 0px; /* replace padding with border - otherwise the box becomes larger */
}

span.ABV_songnumber
{
    flex-grow:      0;
    width:          25px;
    text-align:     right;
    margin-right:   10px;
}
span.ABV_songplaystate:after 
{
    font-family:    FontAwesome;
    font-weight:    normal;
    display:        none;
    padding-right:  5px;
}
span.ABV_songplaystate[data-playing=yes]:after 
{
    content:        "\f01d";    /* fa-play-circle-o */
    display:        inline-block;
}
span.ABV_genrehighlight
{
    text-shadow: 0px 0px 5px;
}
span.ABV_songname
{
    flex-grow:      1;
    flex-wrap:      nowrap;
    white-space:    nowrap;
    margin-right:   10px;
    overflow:       hidden; 
}
div.ABV_tagbox
{
    font-family:    "DejaVuSans";
    flex-grow:      0;
    display:        flex;
    align-items:    center;
    justify-content: center;
    text-align:     right;
}
div.ABV_buttonbox
{
    flex-grow:      0;
    display:        flex;
    align-items:    center;
    justify-content: center;
    text-align:     right;
}
div.ABV_likegraphbox
{
    flex-grow:      0;
    display:        flex;
    align-items:    center;
    height:         100%;
    opacity: 0.2;
}


/******************/
/* Song Settings  */
/******************/

div.ABV_songsettings
{
    display:        none;
    flex-direction: column;
    margin-top:     0px;
    margin-bottom:  5px;
}
div.ABV_songsettings_row
{
    display:        flex;
    flex-direction: row;
    align-items:    center;
    justify-content: left;
}

div.ABVS_playerbox
{
    display:        flex;
    flex-grow:      1;
    align-items:    stretch;
    margin:         5px;
}
audio.ABVS_player
{
    width:          100%;
    border-radius:  20px;
}

div.ABVS_moodbox
{
    font-family:    "DejaVuSans";
    flex-grow:      0;
    display:        flex;
}
div.ABVS_propbox
{
    flex-grow:      0;
    display:        flex;
}
div.ABVS_tagsbox
{
    flex-grow:      1;
    display:        flex;
    flex-direction: column;
    margin-left:    10px;
    margin-right:   10px;
}

/******************/
/* like-Graph     */
/******************/

div.ABV_likegraph
{
}
div.ABV_likebar
{
    width:              2px;
    background-color:   #0A0;
}
div.ABV_dislikebar
{
    width:              2px;
    background-color:   #A00;
}
div.ABV_unratedbar
{
    width:              2px;
    background-color:   #888;
}

div.ABV_likevaluebox
{
    text-align:         right;
    width:              15px;
    padding-right:      1px;
}
div.ABV_likevalue
{
}
div.ABV_dislikevalue
{
}



/******************/
/* buttonbox-flags*/
/******************/
div.ABV_songflag
{
    opacity:            0.5;
    padding-right:      3px;
}


/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

