
/******************/
/* Main Container */
/******************/

div.MusicDBHUD
{
    height:         100%;
    width:          100%;
    align-content:  space-between;
    align-items:    center;
}



/******************/
/* Main Layout    */
/******************/

div.MusicDBHUD .ArtworkBox
{
    flex-grow:      0;
    margin-left:    8px;
    margin-right:   5px;
    border-radius:  var(--radius);
    overflow:       hidden;
}
div.MusicDBHUD .ArtworkBox[data-musictype="unknown"]
{
    width:          60px;
    height:         60px;
}
div.MusicDBHUD .ArtworkBox[data-musictype="audio"]
{
    width:          60px;
    height:         60px;
}
div.MusicDBHUD .ArtworkBox[data-musictype="video"]
{
    width:          107px;  /* 16:9 */
    height:         60px;
}
.ArtworkBox > img
{
    width:          auto;
    height:         100%;
}


div.MusicDBHUD .InformationBox
{
    flex-grow:      1;
    margin-left:    5px;
}

div.MusicDBHUD .GenreBox
{
    opacity:        0.5;
}



/********************/
/* Song Information */
/********************/

div.MusicDBHUD .InformationBoxElement
{
    white-space:    nowrap;
    overflow:       hidden;
    vertical-align: middle;
}

div.MusicDBHUD .InformationBoxElement .SVGIcon
{
    display:            inline-block;
    margin-right:       1ch;
    margin-left:        1ch;
    vertical-align:     middle;
    opacity:            0.5;
}

/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

