
/******************/
/* Main Container */
/******************/

div#MDBReconnectButton
{
    position:           absolute;
    top:                1em;
    right:              calc(1em + 1.5em + 1em); /* left to menu button*/
    background-color:   #5E5E1F;
}
div#MDBReconnectButton[data-visible=true]
{
    visibility:         visible;
}
div#MDBReconnectButton[data-visible=false]
{
    visibility:         hidden;
}


/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

