
div.propertybutton[data-button=unpressed] {
    opacity:    0.5;
}
div.propertybutton[data-button=pressed] {
    opacity:    1.0;
}

.musicproperties .icon
{
    width:      1.0rem;
    height:     1.0rem;
}

/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

