
/******************/
/* Main Container */
/******************/

div#SRMainBox
{
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        middle;
    padding:            10px;
}


/******************/
/* Result (all)   */
/******************/


div.SRSongListEntry
{
    margin-bottom: 1px;
}
div.SRSongListEntry:hover
{
    border-bottom:  1px dashed;
    margin-bottom: 0px;
}

div.SRRelevance
{
    display:        block;
    height:         calc(100% - 4px);
    width:          0px;

    border:         2px solid;
    border-radius:  2px;

    float:          left;
    margin-right:   4px;
}

div.SREntrySeparator
{
    height:         5px;
}

/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

