
/******************/
/* Main Container */
/******************/

div.TAGI_Container
{
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        middle;
    height:             100%;
}

/*
div.TAGI_InnerBox
{
    display:            flex;
    flex-direction:     row;
    justify-content:    center;
    align-items:        middle;
}
*/

div.TAGI_Frame
{
    display:            flex;
    flex-direction:     row;
    justify-content:    flex-start;
    height:             100%;
    padding-left:       5px;
    padding-right:      5px;

    border:             0px none;
}
div.TAGI_FrameStyle
{
    border-radius:      20px;
    box-shadow:         0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2) inset;
    background-color:   rgba(0, 0, 0, 0.2);
}

div.TAGI_TagsBox
{
    display:            flex;
    flex-grow:          1;
}

div.TAGI_IconBoxLeft
{
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    margin: 2px;
}
div.TAGI_IconBoxRight
{
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    margin: 2px;
}

div.TAGI_InputBox
{
    display:            flex;
    text-align:         left;
}


/******************/
/* Search Input   */
/******************/

input.TAGI_Input
{
    margin-left: 5px;
    border:             0px none;
    background:         transparent;
}


/******************/
/* Tag Elements   */
/******************/

div.TAGI_TagElement
{
    display:            flex;
    flex-direction:     row;
    justify-content:    space-between;
    margin:             2px;
}
div.TAGI_TagElement_Icon
{
    display:            inline-block;
    padding:            2px;
}
div.TAGI_TagElement_Name
{
    flex-grow:          1;
    display:            inline-block;
    padding:            2px;
    padding-left:       5px;
    padding-right:      5px;
}
div.TAGI_TagElement_Confidence
{
    display:            flex;
    background-color:   #900;
}
div.TAGI_TagElement_Button
{
    display:            inline-block;
    padding:            2px;
}

div.TAGI_TagElement_ConfidenceBar
{
    align-self:         flex-end;
    background-color:   #080;
    color:              #000;
    padding-left:       1px;
    padding-right:      1px;
}


/******************/
/* Tag Collection */
/******************/

div.TAGI_TagCollection
{
    display:        none;
    flex-direction: column;
    position:       absolute;
    padding:        2px;
    margin-top:     30px;
    box-shadow:     0px 4px 8px 0px rgba(1, 0, 0, 1), 0px 6px 20px 0px rgba(0, 0, 0, 0.5);
    z-index:        10;
}




/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

