

.videotimeframeselection
{
    margin:         1.0em;
    padding:        1.0em;
}


.vtfs_controlbox, .vtfs_timeselection
{
    margin-bottom:  0.2em;
}

.vtfs_controlbox span
{
    margin-right: auto;
}
.vtfs_controlbox div + div
{
    margin-left:    1.0em;
}
.vtfs_controlbox > .SVGIcon
{
    width:          1.5em;
    height:         1.5em;
}



.vtfs_timeselection
{
}



.vtfs_messagebox
{
}

.vtfs_errormessage
{
    width:          calc(50% - 2em);
    margin:         0 1em;
    padding:        0.2em 0.5em;
    border-radius:  var(--radius);
    background-color: var(--color-red);
    color:          var(--color-white);
}
.vtfs_errormessage[data-visible=true]
{
    visibility:     visible;
}
.vtfs_errormessage[data-visible=false]
{
    visibility:     hidden;
}



.vtfs_savestate
{
    margin:         0 1em;
    padding:        0.2em 0.5em;
    border-radius:  var(--radius);
    color:          var(--color-white);
}
.vtfs_savestate[data-state=notsaved]
{
    visibility:     visible;
    background-color: var(--color-yellow);
}
.vtfs_savestate[data-state=saved]
{
    visibility:     visible;
    background-color: var(--color-green);
}
.vtfs_savestate[data-state=unchanged]
{
    visibility:     hidden;
}

/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */
