

.videotimeframeselection
{
    margin:         1.0em;
    padding:        1.0em;
}


.vtfs_controlbox, .vtfs_timeselection
{
    margin-bottom:  0.2em;
}

.vtfs_controlbox span
{
    margin-right: auto;
}
.vtfs_controlbox div + div
{
    margin-left:    1.0em;
}



.vtfs_timeselection
{
}



.vtfs_messagebox
{
}

.vtfs_errormessage
{
    width:          calc(50% - 2em);
    margin:         0 1em;
    padding:        0.2em 0.5em;
    border-radius:  var(--radius);
    background-color: #5E1F1F;
    color:          #F0F0F0;
}
.vtfs_errormessage[data-visible=true]
{
    visibility:     visible;
}
.vtfs_errormessage[data-visible=false]
{
    visibility:     hidden;
}



.vtfs_savestate
{
    margin:         0 1em;
    padding:        0.2em 0.5em;
    border-radius:  var(--radius);
    color:          #F0F0F0;
}
.vtfs_savestate[data-state=notsaved]
{
    visibility:     visible;
    background-color: #5E5E1F;
    /*
    background-color: #5E1F1F;
    */
}
.vtfs_savestate[data-state=saved]
{
    visibility:     visible;
    background-color: #1F5E29;
}
.vtfs_savestate[data-state=unchanged]
{
    visibility:     hidden;
}

/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */
