
/******************/
/* Main Container */
/******************/

.mainview_container
{
}



/******************/
/* Headline       */
/******************/

.mainview_headline
{
    justify-content:    space-between;
    width:              auto;
    margin:             2em 3em;
}

.mainview_headline > div
{
    align-items:        center;
}

.mainview_headline span:first-child
{
    display:            block;
}

.mainview_headline span
{
    margin-right:       0.5em;
}

.mainview_headline .icon
{
    margin-left:        0.5em;
}



/******************/
/* Video          */
/******************/

.mainview_videoplayer
{
    display:        block;
    width:           88%;
    height:         100%;
    margin-left:    6%;

    border-radius:  var(--radius);
}

div#VideoViewBox
{
    display:        block;
    overflow:       auto;
}



/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

