
div#VideoPanel
{
    background-color:   #000000;    /* Make background around videos disappear */
}

video#VideoStreamPlayer
{
    transition:         opacity 2000ms;
}

video#VideoStreamPlayer[data-visible=true]
{
    opacity:            1.0;
}
video#VideoStreamPlayer[data-visible=false]
{
    opacity:            0.0;
}

/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */
