
/******************/
/* Main Container */
/******************/
div.screen
{
    box-sizing:     border-box;
    border-color:   #3030A0;
    display:        flex;
    flex-direction: column;
    height:         100%;
    width:          100%;
    overflow:       scroll;
    scrollbar-width: none;
}

div.doublescreen
{
    box-sizing:     border-box;
    display:        flex;
    flex-direction: column;
    min-height:     200%;
    width:          100%;
}


div.display
{
    border-color:   #10A010;
    box-sizing:     border-box;
    display:        flex;
    height:         100%;
    width:          100%;
}

div.popable
{
    box-sizing:     border-box;
    display:        flex;
    align-self:     center;
    border-color:   #A0A010;
    /*
    in-width:      100%;
    max-height:     100%;
    height:         100%;
    width:          100%;
    */
}

div.popable_in
{
    box-sizing:     border-box;
    display:        flex;
    min-width:      100%;
    max-height:     100%;
}

div.popable_out
{
    box-sizing:     border-box;
    display:        flex;
    right:          1%;
    top:            1%;
    max-width:      35%;
    position:       fixed;

}

.popable_content
{
    /*TODO: Calculate dynamically based on aspect ratio and parent ratio*/
    width:          100%;
    height:         100%;
}

#popable_trigger
{
    border-color: #fff;
    height:         50%;
}

/******************/
/* Flex-Rows      */
/******************/

div.flexrow
{
    display:        flex;
    width:          100%;
    align-content:  space-between;
    flex-direction: column;
    flex-wrap:      wrap;
}

div#FXTopRow
{
    /*
    height: 75px;
    */
    height: 5em;
}
@media only screen and (max-height: 400px) 
{
    div#FXTopRow
    {
        align-self: center;
    }
}

div#FXMiddleRow
{
    height: 80%;
}
@media only screen and (max-height: 400px) 
{
    div#FXMiddleRow
    {
        display:    none;
        visibility: hidden;
    }
}

div#FXBottomRow
{
    height: 30px;
}
@media only screen and (max-height: 600px) 
{
    div#FXBottomRow
    {
        display:    none;
        visibility: hidden;
    }
}



/******************/
/* Flex-Columns   */
/******************/

div.flexcolumn_left
{
    width: 20%;
}
div.flexcolumn_middle
{
    width: 55%;
}
div.flexcolumn_right
{
    width: 20%;
}

@media only screen and (max-width: 800px) 
{
    div.flexcolumn_left, div.flexcolumn_right
    {
        display:    none;
        visibility: hidden;
    }
    div.flexcolumn_middle
    {
        align-self: center;
        width:      80%;
    }
}



/******************/
/* Flex-Cells     */
/******************/

div.flexcell
{
    height: 100%;
}



/******************/
/* Sonderwürste for the main conten  */
/******************/

div.contentboxheader
{
    display:        flex;
    flex-direction: row;
    align-content:  flex-end;

    position:       relative;
    bottom:         0px;
    min-height:     20px;
    overflow:       hidden;
}

div.contentbox
{
    height:     calc( 100% - 20px );
}

div.maincell
{
    box-shadow: inset 0px 0px 10px 0px #080808;
}


div.statecell
{
    display:        flex;
    height:         100%;
    width:          100%;
    align-items:    center;
    justify-content:center;
}

div.stateelements
{
    display:        flex;
    height:         100%;
    flex-direction: row;
    align-items:    center;
}

div#Controls
{
    display:        flex;
    height:         100%;
}

/******************/
/* Sonderwürste for the HUD  */
/******************/

div.hudcell
{
    width:          50%;
    box-shadow:     inset 0px 0px 10px 0px;
}

div.vsplit
{
    display:        flex;
    align-content:  space-between;
    align-items:    center;
    flex-direction: row;
}

div.primarycell
{
    flex-grow:      1;
}
div.secondarycell
{
    flex-grow:      0;
}


/* vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4 
 */

